In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import matplotlib.image as mpimg
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
%matplotlib inline
from tensorflow.keras.preprocessing import image
import random
import pandas as pd

In [ ]:
images_path = "/kaggle/input/fashion-product-images-dataset/fashion-dataset/fashion-dataset/images"

In [ ]:
df = pd.read_csv('/kaggle/input/fashion-product-images-dataset/fashion-dataset/styles.csv', nrows=20000, on_bad_lines='skip')
df['image'] = df.apply(lambda row: str(row['id']) + ".jpg", axis=1)
df = df.reset_index(drop=True)
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012,Casual,Jealous 21 Women Purple Shirt,26960.jpg
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012,Casual,Puma Men Pack of 3 Socks,29114.jpg
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016,Casual,Skagen Men Black Watch,30039.jpg

In [ ]:
top_10_article_types = df['articleType'].value_counts().head(10)
top_10_article_types

articleType
Tshirts         3139
Shirts          1448
Casual Shoes    1285
Watches         1120
Sports Shoes     896
Kurtas           861
Tops             795
Handbags         790
Heels            576
Sunglasses       502
Name: count, dtype: int64

In [ ]:
top_categories = [
    'Tshirts', 'Shirts', 'Watches', 'Casual Shoes',
    'Sports Shoes', 'Handbags', 'Tops', 'Kurtas',
    'Heels', 'Wallets'
]

# Filter the DataFrame to include only the rows with these article types
filtered_df = df[df['articleType'].isin(top_categories)]

# Display the first few rows of the new DataFrame
filtered_df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016,Casual,Titan Women Silver Watch,59263.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg

In [ ]:
import pickle

with open("filtered_df.pkl", "wb") as f:
    pickle.dump(filtered_df, f)

In [ ]:
from tqdm import tqdm

labeled_data = []

for i in tqdm(enumerate(filtered_df['id']), total=len(filtered_df['id'])):
    img_path = f"/kaggle/input/fashion-product-images-dataset/fashion-dataset/images/{filtered_df['image'].tolist()[i[0]]}"

    try:
        # Load and preprocess the image
        img = image.load_img(img_path, target_size=(32, 32))
        x = image.img_to_array(img)
        x = np.expand_dims(x, axis=0)
        images = np.vstack([x])[0].tolist()

        label = filtered_df['articleType'].tolist()[i[0]]
        index = filtered_df['id'].tolist()[i[0]]
        
        labeled_data.append({
            'img': images,
            'label': label,
            'index': index
        })

    except Exception as e:
        # Handle other potential errors (e.g., unreadable image)
        print(f"Error processing {i}: {e}")

 34%|███▍      | 3832/11308 [01:58<03:23, 36.80it/s]

Error processing (3824, 39403): [Errno 2] No such file or directory: '/kaggle/input/fashion-product-images-dataset/fashion-dataset/images/39403.jpg'

 81%|████████  | 9162/11308 [04:58<01:19, 26.87it/s]

Error processing (9156, 39410): [Errno 2] No such file or directory: '/kaggle/input/fashion-product-images-dataset/fashion-dataset/images/39410.jpg'

100%|██████████| 11308/11308 [06:20<00:00, 29.75it/s]

In [ ]:
import pickle

with open("labeled_data.pkl", "wb") as f:
    pickle.dump(labeled_data, f)